.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}


.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust the height as needed */
  z-index: 1000;
  background-color: #046b32;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding: 10px 20px;
  color: white; /* Text color */
  font-size: 1.5rem; /* Font size */
}

.App-main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.parks-nav {
  width: 200px;
  background: #f4f4f4;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}

.parks-nav h2 {
  text-align: center;
}

.parks-nav ul {
  list-style-type: none;
  padding: 0;
}

.parks-nav li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.parks-nav li:hover {
  background: #ddd;
}

.map-container {
  flex: 1 1 auto;
  height: 100%;
  width: calc(100% - 200px);
}
